[Unit]
Description=Run watcher script every 30 second

[Timer]
# Run every 30 second
OnUnitActiveSec=30
Unit=watcher.service

[Install]
WantedBy=multi-user.target